/* @import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Dots&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: "Roboto", sans-serif;
}
header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  line-height: 4rem;
  font-size: 1rem;
  z-index: 9;
  color: #ff0000;
  border-bottom: 2px solid #ff0000;
  position: relative;
  background-color: black;
}

.flex_row{
  justify-content: center;
  display: flex;
  padding-top: 20px;
}

.thumbnail{
padding-left: 20px;
}
.clicked{
border: 5px solid black;
}
.btns{
height: 40px;
width: 40px;
border-radius: 5px;
background: grey;
}
.card-product-img:hover{
 opacity: .9;
}
.icon-cart:hover{
 color: rgb(255, 255, 255);
 cursor: pointer;
transform: rotate(5deg);
transition: all .5s ease;
border-bottom: 1px solid white;
}
.close-icon:hover{
  transform: scale(1.03);
  color: black;
transition: all .3s ease;

}
.icon-delete-cart-item{

  border-radius: 50%;
}
.icon-delete-cart-item:hover{
  cursor: pointer;
  transform: scale(1.03);
transition: all .2s ease;
background: rgba(128, 128, 128, 0.503);

}
.slide-out {
  animation: slideOut 0.5s forwards;
}
/* HOVER PAR ABOTON DE BORRAR TOTAL CARRITO */
.button-clean-cart:hover{
background-color: gray!important;
}
body {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 42%, rgba(83,0,134,1) 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.brand-beast-color {
	color: #ffe140;
	font-family: "Days One", sans-serif;
  font-style: italic;
	text-shadow:
	-1px -1px 1px #000,
	1px -1px 1px #000,
	-1px 1px 1px #000,
	1px 1px 1px #000;
}
@media only screen and (max-width: 410px) {

  /* ESTILOS HEADER */
 .img-marca {
    width: 4rem !important; 
  }

.logo-header{
  height: 3rem !important;
}
.box-logo-carrito{
  width: 2rem !important;
  height: 2rem !important;
  padding: 1.7rem !important;
  margin-top: .4rem;
}
.icon-cart{
  font-size: 1.5rem !important;
}
/* ESTILOS PARA EL CARRITO */

.image-cart{
  width:4rem !important;
  height: 4rem !important;
}

/* ESTILOS PARA EL ANUNCIO 1 */



/* ESTILOS PARA EL CARD PRODUCTO*/

.card-product-img{
  height: 7rem !important;
}

.logo-argentina{

  display: none;
}

/* IMAGEN DE LOGO EN CARD PRODUCTO img-marca */

.img-marca{
  max-height:.8rem ;
}
}
.brand-caster {
	font-family: "Days One", sans-serif;
}

.brand-caster-color {
	color: #e01823;
  font-weight: 900 !important;
  font-style: italic;

}
